<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eop.spring.mvc.mybatis.mapper.PostTagMapper">

	<insert id="insertPostTag" parameterType="PostTag" useGeneratedKeys="true" keyColumn="id" keyProperty="id" statementType="PREPARED">
		insert into post_tag (post_id,tag_id,crt_time)
		values(#{postId},#{tagId},#{createTime})
	</insert>
  	
  	<delete id="deletePostTag" parameterType="long">
  		delete from post_tag where id = #{id}
  	</delete>
  	
  	<delete id="deletePostTagByPost" parameterType="long">
  		delete from post_tag where post_id = #{postId}
  	</delete>
  	
  	<delete id="deletePostTagByTag" parameterType="long">
  		delete from post_tag where tag_id = #{tagId}
  	</delete>
</mapper>